*{
  margin: 0px;
  padding: 0px;
  user-select: none ;
  box-sizing: border-box;
  /* font-family: 'Lato', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Oswald', sans-serif; */
font-family: monospace;

font-family: 'Ubuntu', sans-serif;

}
body {
  overflow: hidden;
}
[title*="webhost"], [href*="000webhost"]{
    display : none;
}

::-webkit-scrollbar {
    width: 8px;
}
/* Track */

::-webkit-scrollbar-track {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.10980392156862745);
}
::-webkit-scrollbar-thumb:hover {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.20980392156862745);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: grey;
}

h1,h2,h3,h4,h5,h6,
span,label,p,pre{
  user-select: none;
}
.hide{
  display: none;
}

body{
  background-color: #21252b;

  background-image: linear-gradient(90deg,#000 2px, transparent 2px);
  background-size: 250px 250px;
  background-position: -20px
}

.body-wrapper{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: 35%;
  opacity: 0.5;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-image: url(../bg3.svg);
}
.full-size{
  width: 100%;
  display: block;
  height: 100%;
  position: relative;
}

.btn svg{
  width: 20px;
  width: 16px;
  enable-background:new 0 0 58.995 58.995;
}


.btn{
  fill : #b2b2b2;
  color: #b2b2b2;
  cursor: pointer;
  user-select: none;
  -moz-user-select : none;
  -webkit-user-select : none;
  -o-user-select : none;
  position: relative;
}


.btn:hover{
  color : #fff;
  fill : #fff;
}
.share-me, .gui-mode{
    position: absolute;
    bottom: 80px;
    width: 130px;
    left: -30px;
    /* box-shadow: 0px 0px 0.999px 0px rgba(238, 238, 238, 0.5); */
    background: rgba(0, 0, 0, 0.59);
    padding: 10px;
    cursor: pointer;
    /* text-align: right; */
}
.gui-mode {
  bottom: 185px;
  width: 60px;
  left: 5px;
}
.rotate-90{
  transform: rotate(90deg);
}
.ml2{
  margin-left: 2%;
}

.ml3{
  margin-left: 3%;
}

.ml4{
  margin-left: 4%;
}
.ml5{
  margin-left: 5%;
}

.mr2{
  margin-right: 2%;
}

.mr3{
  margin-right: 3%;
}

.mr4{
  margin-right: 4%;
}
.mr5{
  margin-right: 5%;
}
.pl2{
  padding-left: 2%;
}

.pl3{
  padding-left: 3%;
}

.pl4{
  padding-left: 4%;
}
.pl5{
  padding-left: 5%;
}

.pr2{
  padding-right: 2%;
}

.pr3{
  padding-right: 3%;
}

.pr4{
  padding-right: 4%;
}
.pr5{
  padding-right: 5%;
}
.pt2{
  padding-top: 2%;
}
.pb2{
  padding-bottom: 2%;
}

.pt3{
  padding-top: 3%;
}

.pb3{
  padding-bottom: 3%;
}

.pt4{
  padding-top: 4%;
}

.pb4{
  padding-bottom: 4%;
}
.pt5{
  padding-top: 5%;
}

.pb5{
  padding-bottom: 5%;
}
.mha{
  margin-left: auto;
  margin-right: auto;
}
.dt{
  display: table;
}
.txt-center{
  text-align: center;
}

.btn-padding{
  padding: 10px;
}
.rotate-45{
  transform: rotate(45deg);
}
.rotate-m45{
  transform: rotate(-45deg);
}
.rotate-m90{
  transform: rotate(-90deg);
}
.group-vert-bar{
  position: absolute;
  bottom: 80px;
  right: -25px;
}
.group-wrapper{
  position: relative;
  width: 100%;
  height: 100%;

}
.group-vert-bar .btn{
  display: inline-block;
  min-width: 130px;
  height: 40px;
}
.fixed-left-bar, .fixed-right-bar{
  position: fixed;
  width: 40px;
  height: 100vh;
  top: 0px;
  z-index: 99;
}

.fixed-left-bar {
  left: 0px;
}

.fixed-right-bar{
  right: 0px;
}
.fixed-bottom-right{
  position: fixed;
  bottom: 0px;
  right: 0px;
}
.header{
    height: 100vh;
    width: 100%;
    display: table;
    /* background-image: linear-gradient(#000 2px, transparent 2px),
      linear-gradient(90deg, #000 2px, transparent 2px);
    background-size: 200px 200px, 200px 200px; */;
    /* background-color: #282c34; */
}
.header .padding{
  display: table;
  margin: auto;
  /* background-color: #282c34; */

}
.header-wrapper{
  padding: 0px 1.5em;
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}

.introduction h1{
  color : #fff;
  font-weight: bold;
  font-size: 12em;
  /* font-family: 'Lato', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Oswald', sans-serif; */
font-family:  monospace;

/* font-family: 'Ubuntu', sans-serif; */
}
.introduction , .name{
  display: inline-block;
  vertical-align: middle;
}
.name {
  /* transform: rotate(90deg); */
  writing-mode: vertical-rl;
text-orientation: mixed;
padding-left: 0%;

}
.name h3,  .content h3{
  color: #b2b2b2;
  /* color: #fff; */
  font-weight: normal;
  font-size: 15.4px;
  /* text-decoration:line-through; */

}

.name h1{
  color : #fff;
  font-weight: bold;
  font-size: 5em;
}

.introduction .dot{
  width: 0.2em;
  background-color: red;
  height: 0.2em;
  position: relative;
  left: -80px;
  border-radius: 50%;
  display: inline-block;

}



section{
  display: block;
  width: 100%;
  height: 100vh;
}

.section-left,
.section-right{
  width: 50%;
  display: block;
}


.section-left{
  padding-left:10%;
}
.section-right{
  margin-top: 70px;
  margin-left:50%;
  padding-right: 10%;
}

.section-left .title{

}


.section-left .title h1,
.section-right .title h1{
  color : #fff;
  font-size: 4em;
  margin-bottom: 10px;
}

.section-left .title span,
.section-right .title span
{
  color : #fff;
  color : red;
  font-size: 100%;
}
.content h3 {
  font-size: 16px;
  line-height: 30px;
  font-family: monospace;
}

.card{
  width: 100%;
  /* padding : 10px; */
  background-color: rgba(0,0,0,0.40)
}

@media  (max-width: 720px) {
  div#terminal {
    top: 0px !important;
    left: 0px !important;
    width: 100%;    

  }

.terminal{
  height: calc(100vh - 40px) !important;

}
.introduction h1 {
    font-size: 4em;
}

.introduction .dot {
    left: -24px;
}

.name h1 {
    font-size: 3em;
}

.name h3, .content h3 {
    font-size: 13.4px;
}
}


