

.modal{
  position: fixed;
  top: 20%;
  left: 20%;
  width: 500px
}

.modal.mac{
  border-radius: 5px;
}


.modal.mac .modal-header{
  padding: 5px;
  cursor: grab;
  position: relative;
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(14, 13, 13);
  border-bottom: 1px solid rgba(255, 255, 255, 0.07)
}

.modal.mac .modal-body{
  padding: 5px;
  position: relative;
  border-radius: 0px 0px 5px 5px;
  /* background-color: rgba(0,0,0,0.90 ); */
  /* background-color: rgba(14, 13, 13);
  background-color: rgba(14, 13, 13, 0.75) */
}

.modal.mac .modal-header .modal-control label{
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0px 1px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.modal.mac .modal-header .modal-control,
.modal.mac .modal-header .modal-title{
  /* width: 100%; */
}

.modal.mac .modal-header .modal-control{
  width: 100px;
  position: absolute;
  user-select: none;
}
.modal.mac .modal-header .modal-title{
  /* width: 100px; */

  text-align: center;
}


.modal.mac .modal-header .modal-title label{
  color: rgba(255,255,255,0.60);
  font-size: 12px;
  user-select: none;
  font-weight: bold;
}


.modal.mac .modal-header .modal-control label.close{
  background-color: crimson;
}

.modal.mac .modal-header .modal-control label.minimize{
  background-color: yellow;
}

.modal.mac .modal-header .modal-control label.maximize{
  background-color: green;
}


/*
* Terminal
*
*/
.terminal{
  height: 300px;
  overflow: auto;
}

.terminal {font-size: 13px; color : rgba(255,255,255, 0.60);}

.terminal .tdlrs {color: rgba(255,255,255, 0.60);padding: 0px 8px 0px 0px;}
.terminal .tcaret {color: rgba(255,255,255, 0.60); outline: none}
.terminal .tusernhost{color : crimson; /*font-weight: bold;*/}

/*
* Light Theme
*/


.mac-light-theme .modal.mac .modal-header{
    background-color: #eee;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.mac-light-theme .modal.mac .modal-header .modal-title label{
    color: #616161;
}

.mac-light-theme .modal.mac .modal-header .modal-control label.close{
  background-color: crimson;
}

.mac-light-theme .modal.mac .modal-header .modal-control label.minimize{
  background-color: #FF9800;
}


.mac-light-theme .modal.mac .modal-header .modal-control label.maximize{
  background-color: #4CAF50;
}


.mac-light-theme .modal.mac .modal-body{
  background-color: #fff;
}


/*
* Terminal
*
*/
.mac-light-theme .terminal {color : rgba(0,0,0, 0.60);}

.mac-light-theme .terminal .tdlrs {color: rgba(0,0,0, 0.60);}
.mac-light-theme .terminal .tcaret {color: rgba(0,0,0, 0.60);}
.mac-light-theme .terminal .tusernhost{color : crimson}
